# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# jetbrains
.idea
.vscode
.DS_Store
/vendor/
/test/vendor/
/build/_output/
kind.config.yaml
/coverage.txt
/coverage.xml
/internal/northbound/testdata/fuzz/
/release/
test/catalog-*-test.yaml
bootstrap/dpkg.yaml
bootstrap/files.yaml
bootstrap/manifest/*
venv-env/*
ci/
artifacts/
.cache/
app-orch-tutorials/developer-guide-tutorial/tutorial-server/venv
app-orch-tutorials/developer-guide-tutorial/tutorial-web-ui/node_modules
app-orch-tutorials/developer-guide-tutorial/tutorial-web-ui/.next
*.tgz
